.restraunt-card-container .rest-card{
    border: 1px black solid;
    width: 200px;
    height:300px ;
    margin-top:10px;
    padding: 10px;
}
.restraunt-card-container > input{
    margin-top: 10px;
}