.restraunt-card-container {
    width:200px;
    padding: 10px;
}
.restraunt-card-container .rest-card{

    margin-top:10px;
    padding: 10px;

}
.parent-card :hover{
    border: 1px solid black;

}
.restraunt-card-container > input{
    margin-top: 10px;
}
.restraunt-card-container >img{
    width: 95%;
    height:50%;
}
.parent-card{
    display: flex;
}
