.restraunt-card-container {
    width:200px;
    padding: 10px;
    background-color: rgb(240, 225, 225);
    margin:10px;
}
.restraunt-card-container .rest-card{

    margin-top:10px;
    padding: 10px;

}
.parent-card :hover{
    border: 1px solid black;

}
.restraunt-card-container > input{
    margin-top: 10px;
}
.restraunt-card-container >img{
    width: 95%;
    height:50%;
}
.parent-card{
    display: flex;
}





/* Shimmer Css */
.rest-shimmer{
    height: 400px;
    width: 200px;
    background-color:rgb(240, 225, 225) ;
    margin: 10px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}